<p id="notice"><%= notice %></p>
<p>
  <h1>Professor:</h1>
  <strong>Name:</strong>
  <strong><%= @professor.name %></strong>
  <span style="display:inline-block; width:100px;"></span>


  <strong>Sections:</strong><br>

  <% @professor.sections.each do |section| %>
      <span style="display:inline-block; width:270px;"></span>
      <%= section.number %><br>
  <% end %><br>




<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
