<p id="notice"><%= notice %></p>

  <h1>Professor</h1>
  <h3><strong>Name: <%= @professor.name %></strong></h3>
  <table class="pretty-table">
    <thead>
      <tr >
        <th scope="col">Section</th>
        <th scope="col">Course</th>
        <th scope="col">Student(s)</th>
      </tr>
    </thead>
    <tbody>
      <% @professor.sections.each do |section| %>
        <tr>
          <td><%= section.number %></td>
          <td><%= section.course.name %></td>
          <td>Name</td>
        </tr>
          <% section.enrollments.each do |enrollment| %>
          <tr>
            <td></td>
            <td></td>
            <td><%= enrollment.student.name %></td>
          </tr>
          <% end %>
      <% end %>
    </tbody>
  </table>



<%= link_to 'Edit', edit_professor_path(@professor) %> |
<%= link_to 'Back', professors_path %>
