<p id="notice"><%= notice %></p>

<p>
  <h3>Course</h3>
  <table class="pretty-table">
    <thead>
      <tr>
        <td><%= @course.name %></td>
        <td>Section(s)</td>
      </tr>
    </thead>
    <tbody>
        <% @course.sections.each do |section| %>
        <tr>
          <td></td>
          <td><%= section.number %></td>
      </tr>
      <% end %>
    </tbody>
  </table>




<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
