<p id="notice"><%= notice %></p>

<p>
  <h1>Course:</h1>
  <strong>Name:</strong>
  <strong><%= @course.name %></strong>
  <span style="display:inline-block; width:100px;"></span>
  <strong>Sections:</strong><br>
  <% @course.sections.each do |section| %>
      <span style="display:inline-block; width:230px;"></span><%= section.number %><br>
  <% end %><br>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
